# **Shah Wali Ullah Baig**
Email: Shahwalibaig39@gmail.com

In [6]:
set = {0,1,2.1,'a'}
print(set)

{0, 1, 2.1, 'a'}

In [13]:
#- Create a dictionary representing a book with keys "title," "author," and "year."

book = {'123':['Shah',2001],'124':['Wali',2002],'125':['Ullah',2003]}

In [14]:
#- Access the "author" of the book dictionary you created.

print(book['124'][0])

Wali

In [16]:
#- Modify the book dictionary to change the "year" to 2022.

book['125'][1] = 2022
print(book)
print(book['125'][1])

{'123': ['Shah', 2001], '124': ['Wali', 2002], '125': ['Ullah', 2022]}
2022

In [34]:
#- Create an empty dictionary called "fruits" and add three key-value pairs for your favorite fruits.

fruits = {}
fruits['Apple'] = []
fruits['Mango'] = []
fruits['Banana'] = []

print(fruits)

{'Apple': [], 'Mango': [], 'Banana': []}

In [35]:
#- Remove one of the key-value pairs from the "fruits" dictionary.

del fruits['Mango']
print(fruits)

{'Apple': [], 'Banana': []}

In [29]:
#- Create a dictionary representing a person with keys "name," "age," and "city." Use the get() method
#  to retrieve the person's age, providing a default value of 30 if the "age" key doesn't exist.

person = {'name':'Wali', 'age':22, 'city':'Lahore'}

def get(a):
  result = 30
  if('age' in a):
    result = a['age']
    return result
  else:
    return result

get(person)

22